/* Add any global styles here */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; /* Ensure body takes full viewport height */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure root div takes at least full viewport height */
}

main {
  flex: 1; /* Allows the main content area to grow and push the footer down */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
